<section class="grid-wrapper">
  <!-- <mat-grid-list cols="5" rowHeight="50px"> </mat-grid-list> -->
  <mat-grid-list [cols]="cols" #grid>
    <!-- <mat-grid-tile rowspan="1">Por analizar</mat-grid-tile>
    <mat-grid-tile rowspan="1">En revisión </mat-grid-tile>
    <mat-grid-tile rowspan="1">Pendiente de desarrollo</mat-grid-tile>
    <mat-grid-tile rowspan="1">Desarrollo</mat-grid-tile>
    <mat-grid-tile rowspan="1">Hecho</mat-grid-tile> -->
    <mat-grid-tile>
      <mat-card
        cdkDropList
        #toAnalizeList="cdkDropList"
        [cdkDropListData]="toAnalize"
        [cdkDropListConnectedTo]="[
          inReviewList,
          todoList,
          developmentList,
          doneList
        ]"
        (cdkDropListDropped)="drop($event)"
        appearance="outlined"
        class="wrapper-tile"
      >
        <h6 class="wrapper-title">Por analizar</h6>
        <div class="tile-list">
          @for (item of toAnalize; track $index) {
          <div class="tile-box" cdkDrag>{{ item }}</div>
          }
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card
        cdkDropList
        #inReviewList="cdkDropList"
        [cdkDropListData]="inReview"
        [cdkDropListConnectedTo]="[
          toAnalizeList,
          todoList,
          developmentList,
          doneList
        ]"
        (cdkDropListDropped)="drop($event)"
        appearance="outlined"
        class="wrapper-tile"
      >
        <h6 class="wrapper-title">En revisión</h6>
        <div class="tile-list">
          @for (item of inReview; track $index) {
          <div class="tile-box" cdkDrag>{{ item }}</div>
          }
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card
        cdkDropList
        #todoList="cdkDropList"
        [cdkDropListData]="todo"
        [cdkDropListConnectedTo]="[
          toAnalizeList,
          inReviewList,
          developmentList,
          doneList
        ]"
        (cdkDropListDropped)="drop($event)"
        appearance="outlined"
        class="wrapper-tile"
      >
        <h6 class="wrapper-title">Pendiente de desarrollo</h6>
        <div class="tile-list">
          @for (item of todo; track $index) {
          <div class="tile-box" cdkDrag>{{ item }}</div>
          }
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card
        cdkDropList
        #developmentList="cdkDropList"
        [cdkDropListData]="development"
        [cdkDropListConnectedTo]="[
          toAnalizeList,
          inReviewList,
          todoList,
          doneList
        ]"
        (cdkDropListDropped)="drop($event)"
        appearance="outlined"
        class="wrapper-tile"
      >
        <h6 class="wrapper-title">Desarrollo</h6>
        <div class="tile-list">
          @for (item of development; track $index) {
          <div class="tile-box" cdkDrag>{{ item }}</div>
          }
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card
        cdkDropList
        #doneList="cdkDropList"
        [cdkDropListData]="done"
        [cdkDropListConnectedTo]="[
          toAnalizeList,
          inReviewList,
          todoList,
          developmentList
        ]"
        (cdkDropListDropped)="drop($event)"
        appearance="outlined"
        class="wrapper-tile"
      >
        <h6 class="wrapper-title">Hecho</h6>
        <div class="tile-list">
          @for (item of done; track $index) {
          <div class="tile-box" cdkDrag>{{ item }}</div>
          }
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</section>
