/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.m-0 {
  margin: 0 !important;
}
.p-0 {
  padding: 0 !important;
}

// menu styles
.main-sidenav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-btn {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
