<form class="form-crud">
  <mat-form-field>
    <mat-label>Titulo</mat-label>
    <input matInput />
  </mat-form-field>
  <!-- <mat-form-field>
    <mat-label>Estado</mat-label>
    <mat-select>
      <mat-option value="one">First option</mat-option>
      <mat-option value="two">Second option</mat-option>
    </mat-select>
  </mat-form-field> -->
  <mat-form-field>
    <mat-label>Descripción</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</form>
