<div class="menu-btn">
  <button mat-flat-button routerLink="" (click)="sidenav.toggle()">
    Estado de tickets
  </button>
  <button mat-flat-button routerLink="crud" (click)="sidenav.toggle()">
    Crear ticket
  </button>
</div>
