<mat-toolbar>
  <button mat-icon-button aria-label="Menu" (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
</mat-toolbar>
<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav mode="over" class="main-sidenav">
    <app-sidenav-menu [sidenav]="sidenav" />
  </mat-sidenav>
  <mat-sidenav-content> <router-outlet /> </mat-sidenav-content>
</mat-sidenav-container>
